@{
    ViewBag.Title = "About Rippah Quotes";
    ViewBag.Message = "I just want to fuck bad bitches";
}
<div class="text-center">
    <h3 class="emphasise">"@ViewBag.Message"</h3> <p class="subquote">- Andrew Steven Coe, Ideas Man</p>
</div>

<p>Description coming soon</p>