@{
    ViewBag.Title = "About Rippah Quotes";
    ViewBag.Message = "Qutoes aye?";
}
<div class="text-center">
    <h3 class="emphasise">"@ViewBag.Message"</h3> <p class="subquote">- Andrew Steven Coe, Ideas Man</p>
    <p>This site is really quite something let me tell ya</p>
    <p><a href="~/api/QuotesApi">Click here to download a JSON file containing all quotes</a></p>
</div>

<p>Description coming soon</p>